* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.laps {
    list-style: none;
    width: 500px;
    margin: 20px auto;
}

.conteiner {
    width: 500px;
    margin: 40px auto 0px;
    border: 2px solid black;
}

.time {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(42, 250, 215);
    font-size: 30px;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.btn {
    width: 140px;
    background-color: white;
    line-height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, .5)
}

li {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: rgba(255, 165, 0, .5);
}